[[source]]
url = "https://mirrors.cernet.edu.cn/pypi/web/simple"
# url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
requests = "*"
flask = "*"
websockets = "*"
gevent-websocket = "*"
flask-sockets = "*"

[dev-packages]

[requires]
python_version = "3.11"
