<!DOCTYPE html>
<html dir="ltr" lang="zh-CN"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="no-referrer">
  <title>小班数据管理</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="favicon.ico">
  <link rel="stylesheet" href="lib/style.css">
  <style>
    .wall-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    #group-page {
      z-index: 1;
    }
    #data-page {
      z-index: 2;
    }
    #setting-page {
      z-index: 3;
    }
  </style>
</head>

<body class="outside-bg">
  <div class="bg-items">
    <span class="high-grass grass-border">
      <span></span><span></span><span></span><span></span><span></span>
    </span>
    <span class="high-grass">
      <span></span><span></span><span></span><span></span><span></span>
    </span>
    <span class="low-grass grass-border">
      <span></span><span></span><span></span><span></span><span></span>
    </span>
    <span class="low-grass">
      <span></span><span></span><span></span><span></span><span></span>
    </span>
    <div id="cloud_container">
</div></div>
  </div>
  <main>
  <div class="wall" style="
  width: 20%;
  background: transparent;
  border: none;
">
  </div>
    <div class="wall" style="width: 75%;">
      <div class="eaves">
        <div class="gloss"></div>
        <div class="eaves-container">
          <a id="group_button" onclick="groupPage()">小班列表</a>
          <a id="data_button" onclick="dataPage()">数据查询</a>
          <a id="setting_button" onclick="settingPage()">系统设置</a>
        </div>
      </div>
      <div class="wall-container group-page hide" id="group-page">
        <span class="loading-text hide">
          <div class="loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
          数据获取中，请稍后...
        </span>
        <div id="group_filter" class="search-input">
          <span>🔍</span>
          <input type="text" placeholder="筛选小班" onkeyup="groupFilter(event)">
        </div>
        <div class="group empty-group" onclick="toggleGroupSearchModal()">
        </div>
      </div>
      <div class="wall-container data-page hide" id="data-page">
        <span class="loading-text">
          <div class="loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
          数据获取中，请稍后...
        </span>
        <div class="blackboard hide">
          <span class="gloss"></span>
          <span class="eraser" onclick="slideLeft(event)"></span>
          <span id="status_text">
          </span>
        </div>
        <div class="data-container hide">
          <div class="input-group">
            <div class="input">
              <label for="group_id_select">小班ID</label>
              <select id="group_id_select" onkeyup="eventSearch(event)">
                <option value="">任意小班</option>
              </select>
            </div>
            <div class="input">
              <label for="group_name_input">小班名称</label>
              <input id="group_name_input" type="text" onkeyup="eventSearch(event)" />
            </div>
            <div class="input">
              <label for="sdate_select">开始日期</label>
              <input id="sdate_select" type="date" onkeyup="eventSearch(event)" />
            </div>
            <div class="input">
              <label for="edate_select">结束日期</label>
              <input id="edate_select" type="date" onkeyup="eventSearch(event)" />
            </div>
            <div class="input">
              <label for="cheat_select">是否作弊</label>
              <select id="cheat_select" onkeyup="eventSearch(event)">
                <option value="">任意</option>
                <option value="true">是</option>
                <option value="false">否</option>
              </select>
            </div>
            <div class="input">
              <label for="completed_time_select">打卡晚于</label>
              <input id="completed_time_select" type="time" onkeyup="eventSearch(event)" />
            </div>
            <div class="input">
              <label for="user_id_input">用户ID</label>
              <input id="user_id_input" type="number" onkeyup="eventSearch(event)" />
            </div>
            <div class="input">
              <label for="nickname_input">用户昵称</label>
              <input id="nickname_input" type="text" onkeyup="eventSearch(event)" />
            </div>
            <div class="btn-group">
              <div id="reset_btn" class="btn" onclick="resetSearch()">重置</div>
              <div id="search_btn" class="btn" onclick="queryMemberTable()">查询</div>
              <div id="download_btn" class="btn" onclick="downloadMemberTable(event)">下载</div>
            </div>
          </div>
          <div class="table">
            <div class="table-page">
              <div class="page-button">
                <div class="btn" onclick="queryMemberTable('1')">&lt;&lt;</div>
                <div class="btn" onclick="queryMemberTable('-')">&lt;</div>
                <div class="page-count">0/0</div>
                <div class="btn" onclick="queryMemberTable('+')">&gt;</div>
                <div class="btn" onclick="queryMemberTable('-1')">&gt;&gt;</div>
              </div>
              <select id="page_count">
                <option value="20">20条/页</option>
                <option value="50">50条/页</option>
                <option value="100">100条/页</option>
                <option value="200">200条/页</option>
                <option value="500">500条/页</option>
                <option value="2000">2000条/页</option>
              </select>
            </div>
            <div class="table-content">
              <table id="user_info_table">
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="wall-container setting-page hide" id="setting-page">
        <span class="loading-text">
          <div class="loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
          数据获取中, 请稍后...
        </span>
        <div class="container hide">
          <div class="setting-group">
            <div class="input">
              <label for="cache_second_input">数据缓存时长</label>
              <input id="cache_second_input" type="number" />
            </div>
            <span class="setting-desc">在[数据查询]页面查询时, 本程序会对今日数据进行一次查询, 为减少不必要的请求对源数据服务器造成负担, 设置数据缓存时长（单位：秒）, 只有经过该时间后才会进行新一轮的数据查询</span>

            <div class="input">
              <label>实时获取数据</label>
              <div id="real_time_cache_favorite" class="btn-group">
                <div class="checkbox">
                  <input type="radio" id="real_time_cache_favorite_true" name="real_time_cache_favorite" value="true"/>
                  <label for="real_time_cache_favorite_true">是</label>
                </div>
                <div class="checkbox">
                  <input type="radio" id="real_time_cache_favorite_false" name="real_time_cache_favorite" value="false" />
                  <label for="real_time_cache_favorite_false">否</label>
                </div>
              </div>
            </div>
            <span class="setting-desc">开启此选项后，每次进入主页时，都会对所有已收藏(标星)小班进行一次实时查询, 方便实时观察打卡数据变化</span>

            <div class="input">
              <label for="daily_record_input">记录定时任务</label>
              <input id="daily_record_input" type="text" />
            </div>
            <span class="setting-desc">即每日定时保存数据的时间, 默认为“59 23 * * *”, 即每晚23点59分保存数据, 具体语法请参考[Crontab], 此处修改不会立刻生效，请联系管理员重启应用</span>

            <div class="input">
              <label for="main_token_input">主授权令牌</label>
              <input id="main_token_input" type="text" />
            </div>
            <span class="setting-desc"><strong>非常重要!</strong> 本程序用以获取所有基础数据的授权令牌，建议该用户不应加入任何小班</span>

            <div class="input">
              <label for="output_file_input">下载文件名</label>
              <input id="output_file_input" type="text" />
            </div>
            <span class="setting-desc">在[数据查询]页面查询得到结果后,点击下载获取的表格文件的文件名</span>

            <div class="btn-group">
              <div id="save_btn" class="btn" onclick="saveConfig()">保存</div>
            </div>
          </div>
          <div class="disclaimer">
            <h1>免责声明</h1>
<p>感谢您选择使用本小班数据管理器。在使用本程序之前, 请您<strong>仔细阅读</strong>并理解以下免责声明内容：

1. 本程序基于[GPLv3]开源，仅供个人学习、研究和其他非商业性质的合法用途, 任何因违反相关法律法规或侵犯他人权益所导致的法律责任, 由用户自行承担。
2. 用户在使用本程序时, 应遵守所在国家或地区的法律法规, 并对使用该程序产生的一切后果负全部责任。
3. 本程序对于用户使用过程中可能产生的各种风险（包括但不限于被数据来源公司的封禁、用户自身合规问题等）不承担任何责任。
4. 用户违反本声明或者滥用本程序进行非法活动的, 数据来源公司将有权追究您的法律责任。
5. 本程序作者对用户使用本程序产生的一切纠纷、损失或伤害不承担任何责任。
6. 一旦用户开始使用本程序, 则视为用户已充分理解并同意本免责声明的全部内容, 如果您无法接受上述条款, 请<strong>立即停止</strong>使用本程序。</p>
          </div>
        </div>
      </div>
      
      </div>

  
    </main>

    
    <div class="footer">
      <footer>
        <div class="info">
          <input type="checkbox">
          <span></span>
          <span></span>
          <span></span>
          <div>
            <span><a href="https://github.com/shadlc/BCZ-Group-Manager" target="_blank"><u>BCZ-Group-Manager</u></a> Made By Shadlc</span>
          </div>
        </div>
      </footer>
    </div>
    <div id="refresh_btn" class="left-corner-btn btn" onclick="refresh_data()">刷新</div>
  <div id="group_search_modal" class="modal hide" data-status="hidden" onclick="toggleGroupSearchModal(event)">
    <div class="modal-content">
      <span class="modal-close-btn" onclick="toggleGroupSearchModal()"></span>
      <div class="modal-title">添加小班</div>
      <div class="modal-body">
        <div id="group_search">
          <input type="text" id="group_search_input" placeholder="班长ID或16位小班分享码(非6位邀请码)" onkeyup="eventSearch(event)">
          <span class="btn" onclick="searchGroups()">搜索</span>
        </div>
        <div id="group_result">
          <span>空空如也~</span>
        </div>
      </div>
    </div>
  </div>

<script src="lib/script.js"></script>
<script src="lib/group.js"></script>
<script src="lib/data.js"></script>
<script src="lib/setting.js"></script>
<script src="lib/switch_box.js"></script>
<script>
  //DOM加载完成后执行groupPage()函数
  window.onload = function() {
    groupPage();
  }
  function groupPage() {
    // document.getElementsByClassName("group-page")[0].style.display = "block";
    document.getElementById("group_button").classList.add("active");
    document.getElementById("data_button").classList.remove("active");
    document.getElementById("setting_button").classList.remove("active");
    SwitchRight('group-page')
    initGroupPage();
  }
  function dataPage() {
    // document.getElementsByClassName("data-page")[0].style.display = "block";
    document.getElementById("group_button").classList.remove("active");
    document.getElementById("data_button").classList.add("active");
    document.getElementById("setting_button").classList.remove("active");
    SwitchRight('data-page')
    initDataPage();
  }
  function settingPage() {
    // document.getElementsByClassName("setting-page")[0].style.display = "block";
    document.getElementById("group_button").classList.remove("active");
    document.getElementById("data_button").classList.remove("active");
    document.getElementById("setting_button").classList.add("active"); 
    SwitchRight('setting-page')
    initSettingPage();
  }

</script>

<div id="scroll_top_btn" title="回到顶部">▲</div></body></html>
